

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  /* Layout Variables */
  --header-height:5rem;


  
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


body {
 color: rgb(var(--foreground-rgb));
 position: relative;
  
}
html {
  scroll-behavior: smooth!important;
}
*{
}
::-moz-selection { /* Code for Firefox */
  background: rgb(255, 145, 0);
  color: white;


}

::selection {
  background: rgb(255, 145, 0);
  color: white;
}