.snow_wrap{
    height: 100dvh;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 30;
    pointer-events: none;
    opacity: .7;
}

.snow, .snow:after, .snow::before{
    content: "";
    position: absolute;
    top: -650px;
    left: 0;
    right: 0;
    bottom: 0;
    background-image:
    radial-gradient(4px 4px at 100px 50px, white, transparent),
    radial-gradient(6px 6px at 200px 150px, white, transparent),
    radial-gradient(3px 3px at 300px 250px, white, transparent),
    radial-gradient(4px 4px at 400px 350px, white, transparent),
    radial-gradient(6px 6px at 500px 50px, white, transparent),
    radial-gradient(3px 3px at 50px 200px, white, transparent),
    radial-gradient(4px 4px at 150px 300px, white, transparent),
    radial-gradient(6px 6px at 250px 400px, white, transparent),
    radial-gradient(3px 3px at 350px 500px, white, transparent);
    background-size: 650px 650px;

animation: snowAnimation 3s linear;
    animation-iteration-count: infinite;
}


.snow:after{
    margin-left: -250px;
    opacity: .5;
    filter: blur(2px);
    animation-direction: reverse ;
    animation-duration: 6s;
}

.snow:before{
    margin-left: -350px;
    opacity: .7;
    filter: blur(1px);
    animation-direction: reverse ;
    animation-duration: 9s;
}


@keyframes snowAnimation {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(650px);
    }    
}
